@model IEnumerable<EasyGames.Models.OrderItem>

@{
    ViewData["Title"] = "Summary";
    var totalPrice = 0m;
}

<div class="d-flex justify-content-center align-items-center flex-column gap-3 mt-5">
    <i class="fa-solid fa-circle-check" style="color: #63E6BE; font-size: 5rem;"></i>
    <h1>Thank You For you Purchase!</h1>
    <p>Your order number is #@ViewData["OrderId"]</p>
</div>
<div class="container" style="max-width: 800px;">
    @foreach(var orderItem in Model) 
    {
        <div class="row mb-4 align-items-center">
            <div class="col-3">
                <img src="~/images/image.jpg" class="img-fluid rounded " alt="" />
            </div>
            <div class="col-6">
                <p>
                    @(orderItem.Inventory.Item.ItemCategorys?.Any() == true
                    ? string.Join(", ", orderItem.Inventory.Item.ItemCategorys
                    .Select(ic => ic.Category?.Name ?? ""))
                    : "")
                </p>
                <h4 class="">@orderItem.Inventory.Item.Name</h4>
            </div>
            <div class="col-3">
                @{totalPrice += orderItem.UnitPrice * orderItem.Quantity;}
                <p class="fw-bold text-end mb-0">AU$@( orderItem.UnitPrice * orderItem.Quantity )</p>
                <p class="text-secondary text-end">Qty: @orderItem.Quantity</p>
            </div>
        </div>
    }
    <hr>
    <div class="row">
        <div class="col-3"></div>
        <p class="fw-bold  col-6">Total</p>
        <p class="col-3 text-end fw-bold ">AU$@totalPrice</p>
    </div>
</div>
