@model int

<div class="d-flex me-4 gap-2">
    <i class="fa-solid fa-cart-shopping fs-5"></i>
    <span class="badge bg-danger rounded-circle"
        style="width:20px; height:20px; display:inline-flex; align-items:center; justify-content:center;">
        @Model
    </span>
</div>
